.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headingmain {
  text-align: center;
}

.box {
  font-size: 20px;
  border: 2px solid black;
}

.box img {
  width: 268px;
  height: 140px;
}

.sliderHeading .sliderDescription {
  text-align: center;
}

.slick-slide > div {
  padding: 0 10px;
}

.custom-prev-button2,
.custom-next-button2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.custom-prev-button2 {
  left: -10px;
  border: 3px solid #dddddd;
  border-radius: 50%;
  background-color: #6d7c9d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-next-button2 {
  right: -15px;
  border: 3px solid #dddddd;
  border-radius: 50%;
  background-color: #6d7c9d;
  display: flex;
  justify-content: center;
  align-items: center;
}
